<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="bookFooter" id="footer" class="container-fluid align-items-center p-5">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 d-flex flex-column align-items-center">
            <p style="font-family: sans-serif !important;">Subscribe to <b>BookStore NewsLetter</b></p>
            <h3>Get our monthly updates</h3>
            <p class="mb-3">directly in your email</p>
            <div>
                <input type="text" class="input" placeholder="Email"> <a href="#" class="ms-2 btn btn-sm btn-outline-primary">Subscribe</a>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
</body>
</html>