<!DOCTYPE html>
<html th:replace="layouts/secondaryLayout :: layout(~{::main})" xmlns:th="http://www.thymeleaf.org">

<body>
<main role="main">
    <div class="container mt-5">
        <h1 class="text-center text-bg-info">Welcome</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem eius magni obcaecati perferendis
            placeat suscipit voluptatibus, voluptatum. Accusamus ad, animi assumenda facilis nisi possimus praesentium
            quas quasi, veritatis voluptate voluptatibus?</p>
    </div>
</main>
</body>
</html>